<!DOCTYPE html>
<html>
    <head>
        <title>Admin Home - theJobListr</title>
        <%- include('../templates/html-head'); %>
    </head>
    <body>
        <%- include('../templates/header'); %>
        <%- include('../templates/sidebar'); %>
        <div class="body">
            <h1 class="title">Home</h1>
            Hello, <%= auth.uname %><p></p>

            This is the updated homepage.
        </div>
    </body>
</html>