<!DOCTYPE html>
<html>
    <head>
        <title>Login - theJobListr</title>
        <%- include('../templates/html-head'); %>
    </head>
    <body>
        <div class="login">
            <div>
                <img src="<%= config.admin.root %>/images/logo-min-transparentbg.png" class="logo" />
                <form method="POST" action="<%= config.api.root + '/admin/login' %>" class="login-form">
                    <span class="label">Username</span>
                    <input name="username" class="input" placeholder="Enter your username..." type="text" />
                    
                    <span class="label">Password</span>
                    <input name="password" class="input" placeholder="Enter your password..." type="password" />

                    <input type="hidden" name="redirect" value="<%= config.admin.root + '/authenticate' %>" />

                    <input type="submit" class="submit-btn" value="Login" />
                </form>
            </div>
        </div>
    </body>
</html>