<header class="header">
    <span onclick="Menu.open()" class="fa fa-bars menu-btn"></span>
    <a href="<%=config.root%>" class="h-logo">
        <img src="<%=config.root%>/images/logo-full-whitebg.png" />
    </a>

    <form onsubmit="return searchForm.submit()" class="search-box">
        <input value="<%= (url.startsWith("/search/")===true) ? decodeURIComponent(query) : "" %>" id="searchInput" type="text" placeholder="Search for jobs..." />
        <span onclick="searchForm.submit()" class="fa fa-search"></span>
    </form>

    <div class="h-right">
        <a href="#" class="h-btn"><span class="fa fa-rss"></span> Subscribe</a>
        <span onclick="Menu.openSearch()" class="icon fa fa-search"></span>
        <span class="icon fa fa-rss"></span>
    </div>
</header>