<div class="body" style="padding-left: 40px;">
    <span class="topic">States</span>
    <div class="x-scrollable">
        <span onclick="xScrollable.prev(this)" class="fa fa-angle-left ctrl prev-ctrl"></span>
        <% for(var id in menus.indianStates) { %>
            <a href="#" class="state-box">
                <div class="icon <%= id %>"></div>
                <span class="title"><%= menus.indianStates[id] %></span>
                <span class="text">See Vacancies</span>
            </a>
        <% } %>
        <span onclick="xScrollable.next(this)" class="fa fa-angle-right ctrl next-ctrl"></span>
    </div>
</div>