<div class="sidebar cf">
    <div class="box">
        <span style="margin-top:0px;" class="topic">Latest Posts</span>
        <a href="#" class="s-link">Latest Posts</a>
        <a href="#" class="s-link">Upcoming News</a>
        <a href="#" class="s-link">Exams Information</a>

        <span class="topic">Latest Posts</span>
        <a href="#" class="s-link">Latest Posts</a>
        <a href="#" class="s-link">Upcoming News</a>
        <a href="#" class="s-link">Exams Information</a>
    </div>
    <div class="ad-300x250"></div>
    <div class="box">
        <span style="margin-top:0px;" class="topic">Subscribe to updates</span>
        <a href="#" class="btn btn-primary full-width"><span class="fa fa-rss"></span> Subscribe</a>
    </div>
</div>