@import url('responsive.css');

html, body {
    font-family: Montserrat, Roboto, "Segoe UI", Nunito, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.header {
    background-color: white;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0px 30px;
    z-index: 1;
    position: relative;
}
.header.shadow {
    box-shadow: 0px 2px 5px #00000017;
}
.header > .logo {
    width: 25px;
    margin-right: 10px;
}
.header .site-display {
    padding: 7px 10px;
    border-radius: 50px;
    box-shadow: 0px 1px 3px #0000001f;
}
.header .site-display > span.fa {
    color: #828282;
    margin-right: 10px;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #cef0ff;
    color: white;
    float: left;
}
.sidebar .branding {
    padding: 25px 30px;
}
.sidebar .branding .logo {
    width: 25px;
    float: left;
    margin-right: 10px;
}
.sidebar .branding .title {
    color: #29b364;
    font-weight: 600;
    font-size: 20px;
}
.sidebar .topic {
    display: block;
    padding: 15px 30px 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #3bad73;
}
.sidebar .item {
    color: #313131;
    text-decoration: none;
    display: block;
    padding: 10px 50px;
    font-size: 15px;
    font-weight: 500;
    background-color: #ffffff08;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.sidebar .item > span.fa {
    position: absolute;
    margin-left: -22px;
    margin-top: 4px;
    color: #51b38b;
    font-size: 14px;
}
.sidebar .item:hover {
    background-color: #0000000a;
}
.body {
    height: calc(100vh - 60px);
    overflow: auto;
    padding: 0 30px;
}
.sidebar .item.active {
    background-color: #0000001f;
}
.body > .title {
    font-size: 28px;
    color: #2f2f2f;
    margin-bottom: 30px;
}
.body > .title::after {
    content: "";
    display: block;
    height: 5px;
    background-color: #e2e2e2;
    width: 10%;
    border-radius: 10px;
}
.form .input {
    padding: 15px 15px;
    font-family: Montserrat, Roboto, "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 7px;
    border: 2px solid #eaeaea;
    width: 70%;
    margin-bottom: 15px;
    background-color: white;
}
.form .input:focus, .form .input:active {
    border: 2px solid #69b6ff;
    outline:none;
}
.form .label {
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #525252;
    margin-bottom: 5px;
}
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 0px 1px 3px #00000033;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-primary {
    background-color: #2BB761;
    color: white;
}
.btn-primary:hover {
    background-color: #279c54;
}
.btn-danger {
    background-color: #d24f4f;
    color: white;
}
.btn-danger:hover {
    background-color: #c14747;
}
.posts-list {
    background-color: white;
    border-radius: 7px;
    padding: 15px 15px;
    box-shadow: 0px 1px 3px #0000000d;
}
.posts-list .post {
    display: flex;
    border-bottom: 1px dotted #d8d8d8;
    padding: 5px 0px 5px;
    margin-bottom: 10px;
}
.posts-list .post > .title {
    display: block;
    min-width: 70%;
    width: 70%;
    font-weight: 500;
}
.posts-list .post > .right {
    min-width: 30%;
    width: 30%;
    text-align: right;
}
.posts-list .post > .right a.icon {
    color: #0a88ff;
    display: inline-block;
    padding: 0px 10px;
    font-size: 18px;
}
.posts-list .post > .right a.icon.delete {
    color: #ea4242;
}
.posts-list .post > .title > .id {
    margin-right: 7px;
    background-color: #e2e2e2;
    display: inline-block;
    padding: 0px 4px;
    font-family: consolas;
    border-radius: 3px;
    font-size: 15px;
    color: #5f5f5f;
}
.posts-list .post:hover {
    background-color: #f9f9f9;
}
.login {
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
}
.login > div {
    margin: auto;
    text-align: center;
}
.login .logo {
    margin-bottom: 50px;
}
.login .login-form {
    text-align: left;
}
.login .login-form .label {
    display: block;
    font-weight: 500;
    font-size: 17px;
    color: #292929;
    margin-bottom: 5px;
}
.login .login-form .input {
    display: block;
    padding: 15px 15px;
    font-family: Montserrat, Roboto, "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 7px;
    border: 2px solid #eaeaea;
    width: calc(100% - 34px);
    margin-bottom: 15px;
    background-color: white;
}
.login .login-form .input:focus, .login .login-form .input:active {
    border: 2px solid #69b6ff;
    outline:none;
}
.login .submit-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #2799e2;
    color: white;
    padding: 15px 0px;
    font-family: Montserrat, Roboto, "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
}
.login .submit-btn.disabled {
    background-color: #d0d0d0 !important;
    color: #5d5d5d !important;
    cursor: not-allowed;
}
.login .submit-btn.disabled:hover {
    background-color: #d0d0d0 !important;
}
.login .submit-btn:active, .login .submit-btn:focus {
    outline: none;
}
.login .submit-btn:hover {
    background-color: #2387c7;
}
.header .right {
    min-width: max-content;
    margin-left: auto;
}
.header .menu-btn {
    font-size: 20px;
    margin-right: 10px;
    padding: 10px 10px;
    cursor: pointer;
    display: none;
}
.update-changelog {
    margin-bottom: 15px;
    background-color: white;
    padding: 15px 15px;
    border-radius: 7px;
    box-shadow: 0px 1px 3px #0000000d;
    max-height: 200px;
    height: 200px;
    overflow-y: auto;
}
.btn.disabled {
    box-shadow: none;
    background-color: #cecece;
    color: #3e3e3e;
    cursor: not-allowed;
}
.body .collections .collection {
    background-color: white;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0px 2px 4px #0000000f;
}
.body .collections .collection > .title {
    font-weight: 600;
}
.body .collections .collection > .cats {
    margin: 10px 0px 0px;
    padding: 0px 10px;
}
.body .collections .collection > .cats > .cat > .title {
    color: #0084ff;
    border-bottom: 2px solid;
    display: inline-block;
    margin-bottom: 5px;
}
.body .collections .collection > .cats > .cat > .items {
    padding: 10px 10px;
}
.body .collections .collection > .cats > .cat > .items > .item:hover {
    background-color: #f3f3f3;
}
.body .collections .collection > .cats > .cat > .items > .item > .item-edit {
    padding: 10px 10px 10px;
    background-color: #f3f3f3;
    border-radius: 7px;
}
.body .collections .collection > .cats > .cat > .items > .item > .item-edit .inp {
    border: none;
    outline: none !important;
    font-size: 15px;
    border-radius: 4px;
    padding: 5px 5px;
    border-bottom: 1px solid #cecece;
}
.body .collections .collection > .cats > .cat > .items > .item > .item-edit .label {
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 10px;
    color: black;
}
.body .collections .collection > .cats > .cat > .items > .item > .item-edit > div {
    margin-bottom: 5px;
}
.body .collections-editor {
    height: 400px;
    width: 100%;
}
.body .collections-editor .jsoneditor {
    background-color: white;
    box-shadow: 0px 2px 4px #00000014;
    border: none !important;
}
.body .collections-editor .jsoneditor div.jsoneditor-field {
    font-size: 17px !important;
}
.body .collections-editor .jsoneditor div.jsoneditor-value {
    font-size: 16px !important;
}
.fade {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    visibility: hidden;
    transition: background-color 200ms;
}
.files-box {
    display: flex;
    flex-wrap: wrap;
}
.files-box .item:hover {
    outline: solid #afccff;
}
.files-box > .item {
    flex-basis: calc(20% - 10px );
    margin: 0px 10px 15px 0px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 2px 5px #00000014;
    height: 200px;
    flex-direction: column;
    display: flex;
    text-decoration: none;
    color: initial;
}
.files-box > .item > .img {
    display: flex;
    height: 60%;
    align-items: center;
}
.files-box > .item > .img > img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.files-box > .item > .labels {
    padding: 10px 10px 5px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0px 0px 7px 7px;
    border-top: 1px solid #eaeaea;
}
.files-box > .item > .labels > .buttons > .fa {
    display: inline-block;
    color: #ff4d4d;
    padding: 5px 5px;
    cursor: pointer;
}
.files-box .folder .img {
    height: 100%;
}
.files-box .folder .labels {
    height: initial;
}
.files-box .folder .img .fa-folder {
    display: block;
    margin: auto;
    font-size: 50px;
    color: #fbc344;
}
.files-box .folder {
    cursor: pointer;
}
.navigation {
    margin: 0px 0px 15px;
}
.navigation .item a {
    text-decoration: none;
    color: #3091ec;
}
.navigation .item a:hover {
    text-decoration: underline;
}
.navigation .item .fa-angle-right {
    margin: 0px 10px;
    color: #a2a2a2;
}
.form .permalink-preview {
    background-color: #eaeaea;
    padding: 14px 17px 10px;
    margin-top: -19px;
    border-radius: 0 0 7px 7px;
    width: 70%;
    font-family: consolas;
    color: #3e3e3e;
}
.form .permalink-preview > span {
    color: black;
    font-weight: 600;
}