<header class="header">
    <a href="<%=config.root%>" class="h-logo">
        <img src="<%=config.root%>images/logo-full-whitebg.png" />
    </a>

    <div class="search-box">
        <input type="text" placeholder="Search for jobs..." />
        <span class="fa fa-search"></span>
    </div>

    <div class="h-right">
        <a href="#" class="h-btn"><span class="fa fa-rss"></span> Subscribe</a>
    </div>
</header>