<div class="menu">
    <a href="#" class="item active"><span class="fa fa-home"></span> Home</a>
    <span class="item dropdown">
        <span><span class="fa fa-location-arrow"></span> States <span class="fa fa-angle-down"></span></span>
        <div class="dropdown-menu">
            <a href="#" class="item">Tripura</a>
            <a href="#" class="item">Chattisgarh</a>
            <a href="#" class="item">Jharkhand</a>
        </div>
    </span>
    <a href="#" class="item"><span class="fa fa-info"></span> About Us</a>
    <a href="#" class="item"><span class="fa fa-phone-alt"></span> Contact Us</a>
</div>