<h1 class="title">Create a new Post</h1>

<% if(autoSaved != false) { %>
<div id="autosavedMessageBox" class="message-box info">
    <span id="closeAutosavedBtn" class="close-btn fa fa-times-circle"></span>
    Continue editing "<%= autoSaved.data.title %>"? [autosaved]
    <br />
    <span id="resumeEditingBtn" class="link">Resume Editing</span>
</div>
<% } %>

<form id="cp-form" enctype="multipart/form-data" class="form">
    <span class="label">Post Title</span>
    <input id="title" name="title" class="input" placeholder="Enter a title for this post..." type="text" />

    <span class="label">Post Image</span>
    <input name="image" class="input" placeholder="Select a thumbnail for this post..." type="file" />
    
    <span class="label">Body</span>
    <textarea name="body" id="postBodyEditor"></textarea>
    <br />

    <span class="label">Search Description</span>
    <textarea class="input" name="description" id="description" placeholder="Enter a short description for this post..."></textarea>

    <span class="label">Category</span>
    <input id="cat" name="cat" class="input" placeholder="Enter the category of this post" type="text" />

    <span class="label">Tags</span>
    <div class="tags" id="tags-box"></div>
    <div id="tagsDropdown" class="inp-dropdown">
        <input autocomplete="off" id="tags" class="input" placeholder="Search for tags to add..." type="text" />
        <div class="dropdown"></div>
    </div>

    <span class="label">Last Date</span>
    <input id="date" oninput="document.getElementById('lastDate').value=this.valueAsNumber/1000;" class="input" type="date" />
    
    <span class="label">Image Alternative Text</span>
    <input id="imageAlt" name="imageAlt" class="input" placeholder="Enter alternative text..." type="text" />

    <span class="label">Custom Permalink</span>
    <input id="permalink-inp" class="input" placeholder="Enter a custom permalink for this post..." type="text" />
    <div class="permalink-preview"><%= siteRoot %>/post/<span id="permalink-preview"></span></div>

    <input id="lastDate" type="hidden" name="lastDate" value="0" />
    <input id="permalink-value" type="hidden" name="permalink" value="" />
    <input type="hidden" name="author" value="Administrator" />
    <input id="postType" type="hidden" name="type" value="public" />
    <input id="tags.ids" type="hidden" name="tags" value="" />

    <p></p>
    <a id="post-btn" class="btn btn-primary btn-full-width"><span class="fa fa-plus-circle"></span> Post</a>
    <a id="draft-btn" class="btn btn-secondary btn-full-width"><span class="fa fa-plus-circle"></span> Save as draft</a>
    <br /><br />
</form>