@import url('stateIcons.css');
@import url('responsive.css');

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "Nunito";
    background-color: #f9f9f9;
}
.header {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
    box-shadow: 0px 2px 7px #00000038;
    background-color: white;
}
.header > .h-logo {
    text-decoration: none;
    color: black;
    width: 100%;
}
.header > .h-logo > img {
    width: 155px;
    margin-top: 7px;
}
.body {
    padding: 30px 40px 30px 0px;
    font-weight: 600;
    font-size: 17px;
    display: flow-root;
}
.menu {
    background-color: #35bd77;
    padding: 10px 40px;
    box-shadow: 0px 3px 3px #80808038;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
.menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.menu > .item {
    color: white;
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}
.menu > .item > span.fa, .dropdown > span > span.fa {
    font-size: 13px;
    position: relative;
    top: -2px;
}
.menu > .item:after {
    content: "";
    transition: width 300ms;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
  }
.menu > .item:hover:after {
    width: 100%;
}
.menu > .active:after {
    width: 100% !important;
}
.header > .search-box {
    width: 100%;
    display: flex;
    align-items: center;
}
.header > .search-box > input {
    width: calc(100% - 50px);
    border: none;
    background-color: #f1f1f1;
    padding: 12px 45px 12px 25px;
    font-size: 16px;
    font-family: Nunito, "Open Sans", "Segoe UI";
    border-radius: 50px;
    font-weight: 700;
}
.header > .search-box > input:focus {
    outline: none;
    border: none;
}
.header > .search-box > span.fa {
    display: inline-block;
    margin-left: -45px;
    padding: 15px 15px;
    border-radius: 0 50px 50px 0px;
    cursor: pointer;
    color: #0a77ff;
}
.header > .search-box > span.fa:hover {
    background-color: #eaeaea;
}
.header > .h-right {
    width: 100%;
    text-align: right;
}
.header > .h-right > .h-btn {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 12px 15px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
}
.header > .h-right > .h-btn:hover {
    background-color: #ececec;
}
.posts {
    display: flex;
    flex-wrap: wrap;
}
.posts > .post-box {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px #00000026;
    border-radius: 7px;
    text-decoration: none;
    color: inherit;
    margin: 0 5px 15px 0px;
    flex-basis: calc(25% - 5px);
}
.posts > .post-box:hover > .title {
    color: #3384e8;
    text-decoration: underline;
}
.posts > .post-box > .category {
    font-size: 13px;
    text-transform: uppercase;
    background-color: #e8e8e8;
    border-radius: 50px;
    padding: 1px 8px;
    margin: 10px 10px 0px;
    display: inline-block;
    max-width: calc(100% - 36px);
    text-overflow: ellipsis;
    overflow: hidden;
}
.posts > .post-box > .title {
    display: block;
    padding: 10px 10px 0px;
}
.posts > .post-box > .timestamp {
    display: block;
    font-size: 14px;
    padding: 10px;
    color: grey;
}
.sidebar {
    float: left;
    width: 250px;
    margin: 30px 40px;
}
.sidebar > .box {
    background-color: white;
    box-shadow: 0px 2px 5px #00000026;
    border-radius: 7px;
    padding: 10px 15px;
    margin-bottom: 15px;
}
.sidebar .topic {
    display: block;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 3px solid #35bd77;
    width: max-content;
    margin-bottom: 10px;
    margin-top: 10px;
}
.body .topic {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    border-bottom: 3px solid #cecece;
    text-transform: capitalize;
}
.link {
    color: #0072ff;
    font-weight: 600;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.sidebar .s-link {
    display: block;
    color: #0599d2;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}
.sidebar .s-link:hover {
    text-decoration: underline;
}
.sidebar .ad-300x250 {
    display: none;
    height: 250px;
    width: 250px;
    background-color: #ececec;
    border-radius: 7px;
    margin: 15px 0;
}
.menu .dropdown {
    display: inline-block;
}
.menu .dropdown > .dropdown-menu {
    display: none;
    position: fixed;
    width: 250px;
    background-color: white;
    box-shadow: 0px 2px 10px #00000038;
    border-radius: 7px;
    max-height: 50vh;
    overflow: auto;
}
.menu .dropdown > .dropdown-menu > .item {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}
.menu .dropdown > .dropdown-menu > .item:hover {
    background-color: whitesmoke;
}
.menu .dropdown:hover > .dropdown-menu {
    display: block;
}
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 9px 14px;
    text-align: center;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0px 1px 3px #00000036;
}
.btn-primary {
    background-color: #1ad662;
    color: white;
}
.btn.full-width {
    width: calc(100% - 28px);
}
.btn-primary:hover {
    background-color: #16c359;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card {
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    box-shadow: 0px 1px 5px #0000003d;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    transition: box-shadow, transform 100ms linear;
    margin-bottom: 15px;
    flex-grow: 1;
    flex-basis: calc(22% - 5px);
    margin-right: 5px;
    padding: 5px 10px;
}
.cards .card > span {
    margin: auto;
}
.cards .card:hover {
    box-shadow: 0px 1px 10px #00000059;
    transform: translateY(-5px);
}
.table {
    background-color: #efefef;
    border-radius: 5px;
    overflow: hidden;
}
.table > span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #22ea8a;
    padding: 10px 0px;
}
.table > div {
    display: flex;
}
.table > div > table {
    width: 100%;
}
.table > div > table tr td {
    padding: 10px 15px;
}
.table > div > table tr th {
    padding: 10px 0px;
    border-bottom: 1px solid #e2e2e2;
}
.state-box {
    display: inline-flex;
    width: 180px;
    height: 180px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 6px #00000017;
    border-radius: 200px;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.state-box > .icon {
    min-height: 60%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60%;
}
.state-box > .title {
    display: block;
    height: 20%;
    font-size: 20px;
    color: #2c86d0;
}
.state-box > .text {
    display: block;
    height: 20%;
    font-size: 13px;
}
.state-box:hover > .title {
    text-decoration: underline;
}
.sbg.s1 {
    background-color: #ffaa00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb100' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb800' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbf00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc500' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd624' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe038' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffeb49' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff558' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}
.sbg.s2 {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}
.sbg.s3 {
    background-color: #ffff00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
}
.sbg.s4 {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
.sbg.s5 {
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.sbg.s6 {
    background-color: #00bb77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}
.sbg.s7 {
    background-color: #00b7ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}
.sbg.s8 {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
    background-size: cover;
}
.sbg.s9 {
    background-color: #f29e03;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23ffa61d'/%3E%3C/svg%3E");
}
.sbg.s10 {
    background-color: #aa3333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='800' viewBox='0 0 1600 800'%3E%3Cpath fill='%23FF7' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%235ff' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
}
.x-scrollable {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
.x-scrollable::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.x-scrollable .ctrl {
    position: sticky;
    font-size: 35px;
    padding: 15px 10px;
    cursor: pointer;
    background-color: #eaeaea;
    box-shadow: -1px 1px 3px #00000040;
}
.x-scrollable .prev-ctrl {
    left: 0;
    border-radius: 0px 20px 20px 0px;
}
.x-scrollable .next-ctrl {
    right: 0px;
    border-radius: 20px 0px 0px 20px;
}
.footer {
    background-color: #eaeaea;
    padding: 20px 100px;
    color: #151f25;
    margin: 100px 0 0px 0px;
    overflow: auto;
    display: block;
    width: calc(100% - 200px);
}
.footer .brand {
    float: left;
    margin-right: 70px;
    width: 25%;
}
.footer .brand > img {
    width: 40px;
    display: block;
    float: left;
    margin: 30px 0px 140px;
    margin-right: 30px;
}
.footer .brand h3 {
    font-size: 24px;
	margin: 30px 0 7px;
}
.footer .brand > span {
    font-size: 14px;
    color: #717980;
    font-weight: 500;
}
.footer .brand .social-ic a {
    display: inline-block;
    padding: 5px 20px 25px 0;
    fill: rgb(6 12 24 / 35%);
    cursor: pointer;
    transition: fill 0.15s ease 0s;
}
.footer .brand .social-ic a:hover {
    fill: rgb(6 12 24 / 55%);
}
.footer .in ul {
    list-style: outside none none;
    margin: 25px 0 25px 20px;
    padding: 0;
	float: left;
	width: 15%;
}
.footer .in ul > li.tp {
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 15px;
}
.footer .in ul > li > a {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    color: rgb(4 10 15 / 65%);
    padding: 10px 0;
    font-weight: 600;
}
.footer .in ul > li > a:hover {
	text-decoration: underline;
}
.post-box.feat-org {
    overflow:hidden;
}
.post-box.feat-org > img {
    margin: 15px auto 15px auto;
    display: block;
    width: 120px;
}
.post-box.feat-org > span {
    display: block;
    text-align: center;
    padding: 6px 0px;
    font-weight: 700;
    background-color: #f7f7f7;
}
.ad-728x90 {
    display: none;
    height: 90px;
    width: 728px;
    background-color: #ececec;
    margin: auto;
    border-radius: 7px;
}
.post-body .title > div {
    display: block;
    height: 4px;
    background-color: #8eeabb;
    border-radius: 50px;
    width: 30%;
}
.post-body .date {
    font-size: 15px;
    color: grey;
    margin-bottom: -15px;
    display: block;
}
.post-body .tags > a {
    text-decoration: none;
    background-color: #ececec;
    color: #616161;
    font-size: 15px;
    padding: 1px 5px;
    border-radius: 7px;
    margin-right: 5px;
    text-transform: capitalize;
}
.post-body .content {
    margin: 30px 0px 15px;
    font-size: 17px;
}
.post-body .content h1 {
    font-size: 25px;
}
.post-body .content h1::after {
    content: "";
    display: block;
    height: 4px;
    background-color: #d4d4d4;
    width: 10%;
    border-radius: 20px;
}
.post-body .image {
    max-height: 300px;
    text-align: center;
    margin: 0px 0px 15px;
}
.post-body .image > img {
    max-height: 300px;
    max-width: 100%;
}
.viewall {
    display: block;
    min-width: 100%;
    text-align: center;
    background-color: #eaeaea;
    margin: 0px 0px 15px;
    color: #2a68a9;
    border-radius: 7px;
    text-decoration: none;
    padding: 6px 0;
    font-weight: 700;
    font-size: 16px;
}
.header .menu-btn {
    margin-right: 15px;
    font-size: 19px;
    padding: 10px 10px;
    display: none;
}
.bodySb {
    display: block;
}
.menu-sidebar {
    position: fixed;
    height: 100%;
    width: 70%;
    background-color: white;
    box-shadow: 2px 0px 10px #00000021;
    z-index: 99999;
    overflow-y: auto;
    transform: translateX(calc(-100% - 10px));
    transition: transform 200ms;
}
.menu-sidebar .msb-close {
    display: block;
    margin: 20px 10px;
    background-color: #ececec;
    border-radius: 7px;
    text-align: center;
    padding: 10px 0px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.menu-sidebar .item {
    display: block;
    padding: 5px 20px;
    font-size: 19px;
    color: #0072ff;
}
.fade {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #0000001f;
    z-index: 9999;
    display: none;
}
.header .h-right .icon {
    font-size: 19px;
    padding: 10px;
    display: none;
}
.menu-sidebar .search-box {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    margin: 0 10px 10px;
    border-radius: 7px;
}
.menu-sidebar .search-box .search-inp {
    width: 80%;
    font-family: Nunito, "Open Sans", "Segoe UI";
    padding: 5px 10px;
    font-size: 19px;
    outline: none !important;
    border: none;
    background-color: transparent;
}
.menu-sidebar .search-box > .fa-search {
    display: block;
    width: 20%;
    text-align: center;
    font-size: 19px;
}
.menu-prev-btn {
    position: absolute;
    font-size: 35px;
    color: white;
    padding: 5px 6px;
    cursor: pointer;
}
.menu-prev-btn {
    position: absolute;
    font-size: 35px;
    color: white;
    padding: 5px 6px;
    cursor: pointer;
    z-index: 1;
    display: none;
}
.menu-next-btn {
    position: absolute;
    right: 0;
    font-size: 35px;
    color: white;
    padding: 5px 6px;
    cursor: pointer;
    z-index: 1;
    display: none;
}
.sidebar .sb-states {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sidebar .sb-states .state {
    display: flex;
    flex-grow: 1;
    flex-basis: calc(50% - 24px);
    text-align: center;
    padding: 10px 5px;
    border-radius: 7px;
    border: 2px solid #e6e6e6;
    color: #00b144;
    font-weight: 800;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}
.sidebar .sb-states .state:hover {
    border: 2px solid #bbbbbb;
}
.sidebar .sb-states .state > span {
    margin: auto;
}
.post-body .content table td {
    padding: 5px 10px;
}