<!DOCTYPE html>
<html>
    <head>
        <title>weblite</title>
        <%- include('templates/html-head'); %>
    </head>
    <body>
        <%- include('templates/header'); %>
        <%- include('templates/sidebar'); %>
        <div class="body" id="app-body"></div>
        <script type="text/javascript" src="/weblite.admin.js"></script>
    </body>
</html>