<header class="header">
    <span onclick="Menu.open(this)" class="fa fa-bars menu-btn"></span>
    <img class="logo" src="/images/logo-min-transparentbg.png" />
    <span class="title">theJobListr</span>

    <div class="right">
        <div class="loggedin-user">
            <span class="lu-txt">Logged in as <b></b>.</span> <a class="link" href="/logout">Log Out</a>
        </div>
    </div>
</header>